.logo {
  position: absolute;
  width: 107px;
  height: 83px;
  left: 100px;
  top: 33px;
}
.pizza {
  position: absolute;
  width: 752px;
  height: 839px;
  left: 688px;
  top: 0px;
}

.overlay {
  position: absolute;
  width: 752px;
  height: 839px;
  /* left: 688px; */
  top: 0px;
}
.tagline {
  position: absolute;
  width: 345px;
  height: 207px;
  left: 100px;
  top: 227px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 69px;
  color: #0e2368;
}
.details {
  position: absolute;
  width: 345px;
  height: 55px;
  left: 100px;
  top: 490px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16.4447px;
  line-height: 27px;
  /* or 167% */

  /* body */

  color: #444957;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 30px;
  gap: 7px;

  position: absolute;
  width: 190px;
  height: 63px;
  left: 97px;
  top: 570px;
  border: none;
  background: #e23744;
  border-radius: 34px;
}
.btn-text {
  /* width: 121px;
  height: 36px; */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.01em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.hero-body {
  position: relative;
  width: 100%;
  height: 804px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}
